/*
[id] {
  scroll-margin-top: 40px;
}
*/
body {
  overflow-anchor: none;
}
#genera-list {
  border: 1px solid rgb(100, 100, 100);
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  font-family: "Arial";
}
#genera-list tr:nth-child(odd) td {
  background-color: rgb(250, 245, 230);
}
#genera-list tr:nth-child(even) td {
  background-color: rgb(245, 240, 200);
}
#genera-list tr:first-of-type th {
  background-color: rgb(220, 220, 250);
}
#genera-list td, #genera-list th {
  border: 1px solid rgb(170, 170, 170);
}
#genera-list h3 {
  margin: 0px; padding: 0px; line-height: 1.0;
}
#genera-list td {
  padding: 4px 7px 4px 7px;
}
#genera-list tr:not(:first-of-type) th {
  background-color: rgb(240, 225, 190);
  padding: 0px 5px 0px 5px;
}
#ltr-list {
  list-style-type: none;
  margin: 0px; padding: 0px;
}
#ltr-list li {
  display: inline;
  font-size: 1.1rem;
}
#genera-list td ul {
  list-style-type: none;
  margin: 0px; padding: 0px;
}
#genera-list td ul li {
  display: inline;
}
/* #genera-list td ul li:not(:first-of-type)::before {
  content: " ● ";
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
} */
#genera-list td ul li:not(:first-of-type) {
  margin-left: 10px;
}

/* Host species table */
#hspp-table-holder {
  position: relative;
  width: 100%; /*Needed for table width %s to calc correctly */
}
#hspp-table {
  width: 95%;
  margin: 10px auto 10px auto;
  border-collapse: collapse;
  border: 1px solid rgb(180, 180, 180);
  font-size: 0.8rem;
}
#hspp-table td, #hspp-table th {
  border: 1px solid rgb(180, 180, 180);
  padding: 2px;
}
#hspp-table th {
  background-color: rgb(215, 215, 215);
}
#hspp-table tbody th {
  font-weight: normal;
  width: 20%;
}
#hspp-table tbody ul {
  margin: 2px 0px 2px 20px; padding: 2px;
}

/* State codes section */
#state-codes ol, #state-codes p {
  font-size: 0.9rem;
}

/* Findings table */
#findings-table-holder {
  position: relative;
  width: 100%; /*Needed for table width %s to calc correctly */
}
.toplink {
  position: sticky;
  float: right;
  top: 0px; right: 0px;
}
#findings-table {
  border: 1px solid rgb(100, 100, 100);
  margin: 10px auto 10px auto;
  border-collapse: collapse;
  width: 95%;
  font-size: 0.8rem;
  font-family: "Arial";
}
#findings-table tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 255);
}
#findings-table td {
  padding: 5px;
  border: 1px solid rgb(170, 170, 170);
}
#findings-table thead th {border: 1px solid rgb(170, 170, 170); overflow: hidden; background-color: rgb(200, 250, 160); /*position: sticky; top: 0;*/}

#findings-table tbody th {width: 5%; border: 1px solid rgb(170, 170, 170); background-color: rgb(200, 250, 160);} /*rgb(180, 250, 180)*/
#findings-table td:nth-of-type(1) {width: 10%; word-break: break-all;}
#findings-table td:nth-of-type(2) {width: 11%; word-break: break-all;}
#findings-table td:nth-of-type(3) {width: 5%;} /*Host spp. */
#findings-table td:nth-of-type(4) {width: 15%; border-left: 2px solid rgb(170, 170, 170);}
#findings-table td:nth-of-type(5) {width: 42%; word-break: break-all;} /*Insect tax. */
#findings-table td:nth-of-type(6) {width: 7%; word-break: break-all;}
#findings-table td:nth-of-type(7) {width: 5%; word-break: break-all;}

#findings-table td:nth-of-type(3) a {color: rgb(100, 100, 100);}

#findings-table .gp1 td:nth-of-type(1) {background-color: rgb(240, 245, 220);}
#findings-table .gp1 td:nth-of-type(2) {background-color: rgb(240, 245, 220);}
#findings-table .gp1 td:nth-of-type(3) {background-color: rgb(240, 245, 220);}
#findings-table .gp2 td:nth-of-type(1) {background-color: rgb(210, 220, 180);}
#findings-table .gp2 td:nth-of-type(2) {background-color: rgb(210, 220, 180);}
#findings-table .gp2 td:nth-of-type(3) {background-color: rgb(210, 220, 180);}

#findings-table .gp-first td, #findings-table .gp-first th {border-top: 2px solid rgb(100, 100, 100);}

@media (max-width: 1400px) {.circ {display: none;} #intra-nav li {margin-right: 15px;}}

@media (max-width: 800px) {
  .toplink {background-color: white; padding: 2px;}
  #findings-table {width: 99%; font-size: 0.7rem;}
  #findings-table tbody th {width: 5%;} /*rgb(180, 250, 180)*/
  #findings-table td:nth-of-type(1) {width: 18%;}
  #findings-table td:nth-of-type(2) {width: 20%;}
  #findings-table td:nth-of-type(3) {width: 5%;}
  #findings-table td:nth-of-type(4) {width: 10%;}
  #findings-table td:nth-of-type(5) {width: 28%;}
  #findings-table td:nth-of-type(6) {width: 4%;}
  #findings-table td:nth-of-type(7) {width: 10%;}
  #hspp-table tbody th {
    word-break: break-all;
    width: 35%;
  }
}
@media (max-width: 600px) {
  #findings-table {font-size: 0.6rem;}
}