/* SPECIES PAGE TYPE 2 STYLES */

.no-brk {white-space: nowrap;}
.one-gal-sect {margin-top: 30px;}
.subgal-intro h3 {display: inline; margin: 0; padding: 0; line-height: inherit; font-size: inherit;}
.subgal-intro p {display: inline; margin: 0; padding: 0;}
.subgal {margin-bottom: 15px; padding-bottom: 0px;}
.subgal-cont {margin-bottom: 20px;}
.subgal-nav li {list-style-type: disc;}
.spp-special .gallery-img-cont {
  align-items: center;
  /*background-color: rgb(230, 230, 230);*/
  border-radius: 3px;
}
hr {
  width: 60%;
  margin: 5px auto 5px auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(220, 220, 220);
}
.subgal-cont:last-of-type hr {
  display: none;
}

/* Two-column navigation */
.two-column-nav {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.two-column-nav nav > ul {
  margin: 0px auto 0px auto;
}

/* Special figure types for certain pages */
.compare-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 20px auto 20px auto;
  padding: 0px;
}
.compare-two figure {
  width: 100%;
  margin: 0px auto 0px auto;
  border: 1px solid rgb(220, 220, 220);
}
.compare-two img, .compare-two figcaption {
  width: 98%; display: block;
  margin: 8px auto 0px auto;
}
.compare-two figcaption {padding: 0px 12px 10px 12px;}
.thumb-links-row {
  list-style-type: none;
  margin: 12px 0px 12px 0px; padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#turnaround-thumbs-row li {
  margin: 8px; padding: 0px;
  width: 250px;
}
#turnaround-thumbs-row figure {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  margin: 0; padding: 3px;
}
#turnaround-thumbs-row img {
  width: 100%;
}
#larva-from-record_ #record-details,
#larva-from-record_ .lnktop {
  display: none;
}

/* Media queries */
@media (max-width: 1000px) {
  .two-column-nav nav {
    flex: 1 0 100%;
    width: auto;
  }
}
@media (max-width: 800px) {
  .compare-two {grid-template-columns: 1fr;}
}
@media (max-width: 500px) {
  #turnaround-thumbs-row li {
    width: 100%;
  }
  #turnaround-thumbs-row figure {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 2300px) {
  .compare-two img {width: auto;}
}

