#homepage h2 {
  font-size: 1.3rem;
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title h1 {
  font-size: 1.4rem;
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title h2 {
  font-size: 1.1rem; 
}
#hero {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  border: 3px solid darkred;
}
section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.material {
  margin-top: 60px;
  margin-bottom: 60px;
}
.material h2 {
  margin-bottom: 20px;
}
#notice h2 {
  margin-top: 40px;
}
.sig {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#nav-links p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.secondary-intro {
  margin-top: 40px;
}
.secondary-intro nav {
  margin-top: 0px;
}
.secondary-intro h1 {
  position: relative;
  margin-top: 17px;
  margin-bottom: 30px;
  border-bottom: 2px solid #a6a6a6;
}
.secondary-nav {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.secondary-nav nav {
  display: flex;
  justify-content: center;
}
.secondary-nav ul {
  flex-grow: 0;
  list-style-type: none;
  padding-left: 0;
}
.secondary-fig figure {
  display: block;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  width: min-content;
}
.secondary-fig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  box-shadow: 0px 0px 10px darkgray;
}
.secondary-fig figcaption {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.rt b {
  font-weight: bold;
  margin-right: 7px;
}
.rt a {
  margin-left: 10px;
}
.rt ul:first-child {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-left: 0px;
}
.rt ul:first-child li::before {
  /* Unicode "Black Right-Pointing Triangle" U+25B6 */
  /*
  content: " \25B6";
  position: relative;
  left: 0px; top: -1px;
  font-size: 0.7rem;
  margin-left: 0px;
  margin-right: 5px;
  */
}
.rt p {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 18px;
}
.rt p:last-child {
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 75px;
}
.rt h2 {
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 12px;
  margin-top: 28px;
}
nav.gn {
  width: 80%;
  background-color: white;
}
nav.gn a {
  margin-right: 7px;
  margin-left: 7px;
}
nav.gn a:first-child {
  margin-left: 0px;
}
div.images figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 50px;
  width: min-content;
}
div.images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.images figcaption {
  padding-top: 7px;
}
div.images figure:last-child {
  margin-bottom: 70px;
}
#m {
  position: absolute;
  bottom: 0px; right: -90px;
  z-index: -1;
}
.m-s { /*For images alongside feeding mode labels on genus pages */
  position: relative;
  bottom: -6px; left: 0px;
  height: 28px;
  margin-left: 0px;
  margin-right: 4px;
  opacity: 0.6;
}
/*Media queries*/
@media (max-width: 1280px) {
  section {
    width: 80%;
  }
  .secondary-fig figure {
    width: 90%;
  }
  .secondary-fig img {
    width: 100%;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 90%;
  }
  #mainbody {
    width: 95%;
  }
  section {
    width: 100%;
  }
  #hero {
    max-width: 85%;
  }
  .secondary-fig figure {
    width: 90%;
  }
  .secondary-fig img {
    width: 100%;
  }
}
