h2 {
  font-size: 1.3rem;
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title h1 {
  font-size: 1.4rem;
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title h2 {
  font-size: 1.1rem; 
}
#hero {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  border: 3px solid darkred;
}
section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.material {
  margin-top: 60px;
  margin-bottom: 60px;
}
.material h2 {
  margin-bottom: 20px;
}
#notice h2 {
  margin-top: 40px;
}
.sig {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#nav-links p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.secondary-intro {
  margin-top: 50px;
}
.secondary-intro nav {
  margin-top: 25px;
}
.secondary-intro h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #a6a6a6;
}
.secondary-nav {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.secondary-nav nav {
  display: flex;
  justify-content: center;
}
.secondary-nav ul {
  flex-grow: 0;
  list-style-type: none;
  padding-left: 0;
}
.secondary-fig figure {
  display: block;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}
.secondary-fig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  box-shadow: 0px 0px 10px darkgray;
}
.secondary-fig figcaption {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}