/* STYLES FOR "SECONDARY" PAGES (OPO.HTML, ETC.) */

/*Adjust page width */
#mainbody {width: 1050px;}
section, .secondary-heading {width: 1050px; display: block; margin-left: auto; margin-right: auto;}

/*First <section> on "secondary" pages, with title 
and intro paragraph; before <section> with links*/
.secondary-heading nav {
  margin-top: 0px;
}
#secondary-teaser-cont { 
  float: right;
  width: min-content;
  border: none; /* orig. 3px solid lightgray */
  box-shadow: 0px 0px 10px darkgray;
  margin-left: 12px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 8px;
  font-size: 0.8rem;
}
#secondary-teaser-cont figure {
  margin: 0;
  padding: 0;
}
#secondary-teaser img {
  margin-bottom: 8px;
}

/*Second <section> on "secondary" pages, with links */
.secondary-menu {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.secondary-menu nav {
  display: flex;
  justify-content: center;
}
.secondary-menu ul {
  flex-grow: 0;
  list-style-type: none;
  padding-left: 0;
}
#secondary_opo h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  padding-bottom: 0px;
  text-align: center;
}
#secondary_opo h3:nth-child(1){
  margin-top: 42px;
}

/*Third <section> on "secondary" pages, with overview collage image*/
.secondary-fig figure {
  display: block;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  width: min-content;
}
.secondary-fig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  box-shadow: 0px 0px 10px darkgray;
}
.secondary-fig figcaption {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}


/*Media queries*/
@media (min-width: 1280px) {
  section, .secondary-heading {
    width: 1050px;
  }
}
@media (max-width: 1280px) {
  section, .secondary-heading {
    width: 80%; /*Orig. 80%   trial 1050px*/
  }
  .secondary-fig figure {
    width: 90%;
  }
  .secondary-fig img {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  
}
@media (max-width: 820px) {
  html {
    font-size: 90%;
  }
  #mainbody {
    width: 95%;
  }
  section, .secondary-heading {
    width: 100%;
  }
  #secondary-teaser-cont {
    width: 40%;
  }
  #secondary-teaser {
    width: 100%;
  }
  #secondary-teaser img {
    width: 100%;
  }
  .secondary-heading {
    margin-top: 12px;
  }
  .secondary-fig figure {
    width: 90%;
  }
  .secondary-fig img {
    width: 100%;
  }
}